<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Thymeleaf課題</title>
</head>
<body>
    <h1 th:text="#{TL.title}"></h1>
    <h2 th:text="#{TL.input}"></h2>
    <form action="/output" method="post">
        <p th:text="#{TL.enter}"></p>
        <p th:if="${previous != null}">
        前回入力された値は「<span th:text="${previous}"></span>」でした。</p>
        <input type="text" name="inputValue"/>
        <button type="submit" th:text="#{TL.submit}"></button>
    </form>
</body>
</html>